/*COLORS*/

$primary: hsl(256, 26%, 20%); //Dark Violet
$secondary: hsl(216, 30%, 68%); //Grayish Blue

//### Neutral

$dark-primary: hsl(270, 9%, 17%); //Very Dark Violet
$dark-secondary: hsl(273, 4%, 51%); //Dark Grayish Violet
$light-secondary: hsl(0, 0%, 98%); //Very Light Gray

/*Typography*/

//Font Size
$fs-text: 16px;
$fs-big-title: 64px;
$fs-little-title: 26px;

//Headings
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
$ff-heading: 'DM Serif Display', serif;
$ff-heading-weight-default: 400;


//Body
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');
$ff-body: 'Karla', sans-serif;
$ff-body-weight-default: 400;
$ff-body-weight-bold: 700;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-heading;
}

p,
a,
li {
    font-family: $ff-body;
}

nav li,
a {
    text-transform: uppercase;
}

/*Styles*/
$max-width: 1125px;

$body-dark-color: $dark-secondary;
$body-light-color: $secondary;
$title-light-color: $light-secondary;
$title-dark-color: $dark-primary;

//RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
}

img {
    height: fit-content;
}

.container {
    width: 100%;
    max-width: $max-width;
    padding: 0 15px;
    display: flex;
    margin: 0 auto;
}

.nav-list{
    a{
        color: $body-dark-color;
        &:hover{
            color: $title-dark-color;
        }
    }
}

.circle-icon {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}

@mixin button($is-primary) {
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;

    @if $is-primary {
        border-color: $dark-primary !important;
        color: $dark-primary !important;

        &:hover {
            background-color: $dark-primary !important;
            color: $title-light-color !important;
        }
    }

    @else {
        border-color: $title-light-color !important;
        color: $title-light-color !important;

        &:hover {
            background-color: $title-light-color !important;
            color: $primary !important;
        }
    }

}

.btn-primary {
    @include button(true)
}

.btn-secondary {
    @include button(false)
}

