@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap");
.font-title, div[role=banner] h1, article h2, main .container-fluid .container .content h1 {
  font-size: 64px;
  line-height: 72px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.font-sm-title, article .section-group section h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
}

.font-text, footer .container .footer-content .footer-collumn, div[role=banner] a, article .section-group section p, main .container-fluid .container .content .btn-secondary, main .container-fluid .container .content p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-sm-text, header .container {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

nav li,
a {
  text-transform: uppercase;
}

/*Styles*/
.container {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list a {
  color: hsl(256deg, 26%, 20%);
}
.nav-list a:hover {
  color: hsl(256deg, 26%, 20%);
}

.circle {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
i {
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(256deg, 26%, 20%);
  text-transform: uppercase;
  color: hsl(256deg, 26%, 20%) !important;
}
.btn-primary:hover {
  background-color: hsl(256deg, 26%, 20%);
  color: hsl(0deg, 0%, 98%) !important;
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  color: hsl(0deg, 0%, 98%) !important;
}
.btn-secondary:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(256deg, 26%, 20%) !important;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container ul {
  display: flex;
  align-items: center;
  gap: 16px;
  letter-spacing: 0.06em;
}
header .container ul .btn-primary {
  margin-left: 8px;
  width: 160px;
  height: 40px;
}

main {
  height: 800px;
  background-color: hsl(270deg, 9%, 17%);
  background-image: linear-gradient(to bottom, hsl(270deg, 9%, 17%) 600px, #fff 280px);
  margin-bottom: 80px;
}
main .container-fluid {
  position: relative;
}
main .container-fluid .container {
  padding-top: 104px;
  display: flex;
  gap: 16px;
}
main .container-fluid .container .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main .container-fluid .container .content h1 {
  color: hsl(0deg, 0%, 98%);
  letter-spacing: 112%;
}
main .container-fluid .container .content h1::before {
  content: "";
  display: block;
  margin-bottom: 72px;
  width: 160px;
  height: 1px;
  background-color: hsl(0deg, 0%, 98%);
}
main .container-fluid .container .content p {
  letter-spacing: 0.011em;
  color: hsl(216deg, 30%, 68%);
}
main .container-fluid .container .content .btn-secondary {
  width: 160px;
  height: 40px;
}
main .container-fluid #intro-pattern-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
main .container-fluid #intro-left-right {
  position: absolute;
  top: 430px;
  left: 0;
  z-index: 0;
}

article h2 {
  color: hsl(270deg, 9%, 17%);
  margin-bottom: 80px;
}
article h2::before {
  content: "";
  display: block;
  width: 160px;
  margin-bottom: 64px;
  height: 1px;
  background-color: hsl(273deg, 4%, 51%);
}
article .section-group {
  display: flex;
  gap: 30px;
}
article .section-group section h3 {
  color: hsl(256deg, 26%, 20%);
  margin: 40px 0 16px 0;
}
article .section-group section p {
  color: hsl(216deg, 30%, 68%);
  letter-spacing: 0.011em;
}

div[role=banner] {
  height: 250px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(270deg, 9%, 17%);
  color: hsl(0deg, 0%, 98%);
  padding: 0 80px;
  margin-top: 160px;
  margin-bottom: 160px;
}
div[role=banner] h1 {
  max-width: 560px;
}
div[role=banner] a {
  width: 150px;
  height: 40px;
  position: relative;
  z-index: 2;
}
div[role=banner] #bg-pattern-how-we-work-desktop {
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  background-color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  padding-bottom: 80px;
}
footer .container {
  position: relative;
}
footer .container .footer-header {
  position: relative;
  z-index: 2;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(0deg, 0%, 85%);
}
footer .container .footer-header .social-medias {
  display: flex;
  gap: 16px;
}
footer .container .footer-header .social-medias i {
  font-size: 26px;
  color: hsl(216deg, 30%, 68%);
}
footer .container .footer-header .social-medias a:hover i {
  color: hsl(270deg, 9%, 17%);
}
footer .container .footer-content {
  position: relative;
  z-index: 2;
  margin-top: 64px;
  display: flex;
  gap: 176px;
}
footer .container .footer-content .footer-collumn h4 {
  margin-bottom: 40px;
  color: hsl(216deg, 30%, 68%);
}
footer .container .footer-content .footer-collumn ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .container .footer-content .footer-collumn ul li > a {
  color: hsl(256deg, 26%, 20%);
}
footer .container .footer-content .footer-collumn ul li > a:hover {
  color: hsl(216deg, 30%, 68%);
}
footer #footer-pattern-desktop {
  position: absolute;
  top: 0;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */