//PRIMARY
$primary-100: hsl(256, 26%, 20%); //Dark Violet
$primary-200: hsl(270, 9%, 17%); //Very Dark Violet

//SECONDARY
$secondary-100: hsl(273, 4%, 51%); //Dark Grayish Violet
$secondary-200: hsl(216, 30%, 68%); //Grayish Blue
$secondary-300: hsl(0, 0%, 98%); //Very Light Gray
$secondary-400: hsl(0, 0%, 85%);
