article {

  h2 {
    
    @include separator($secondary-100);

    @extend .font-title;
    color: $primary-200;
    margin-bottom: $spacing*10;

  }

  .section-group {
    display: flex;
    gap: 30px;

    section {
      h3 {
        @extend .font-sm-title;
        color: $body-dark-color;
        margin: $spacing*5 0 $spacing*2 0;
      }

      p {
        @extend .font-text;
        color: $secondary-200;
        letter-spacing: 0.011em;
      }
    }
  }

  @include device(tablet){
    text-align: center;
    h2::before{
        display: none;
    }
    .section-group{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 350px;
      margin: 0 auto;
      gap: $spacing* 5;
      .circle{
        margin: 0 auto;
      }
      h3{
        margin-top: $spacing*2 !important;
      }
    }
  }
}
