
div[role='banner'] {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-200;
    color: $title-light-color;

    padding: 0 $spacing*10;
    margin-top: $spacing*20;
    margin-bottom: $spacing*20;

    h1 {
        @extend .font-title;
        max-width: 560px;
    }

    a {
        @extend .font-text;
        width: 150px;
        height: 40px;
        position: relative;
        z-index: 2;
    }

    #bg-pattern-how-we-work-desktop {
        position: absolute;
        top: 0;
        right: 0;
    }
    #bg-pattern-how-we-work-mobile{
        display: none;
    }

    @include device(tablet){
        overflow: hidden;
        flex-direction: column;
        padding-top: $spacing*2;
        padding-bottom: $spacing*2;
        height: auto;
        gap: $spacing*2;
        h1{
            font-size: 48px;
            line-height: 56px;
        }
        a{
            font-size: 12px;
        }
        #bg-pattern-how-we-work-desktop {
            display: none;
        }
        #bg-pattern-how-we-work-mobile{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}