header {
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: #fff;

    .container {
        height: $spacing*10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .font-sm-text;
        ul {
            display: flex;
            align-items: center;
            gap: $spacing*2;
            
            letter-spacing: 0.06em;

            .btn-primary {
                margin-left: $spacing;
                width: $spacing*20;
                height: $spacing*5;
            }
        }
    }
}