main {
  height: $spacing * 100;
  background-color: $primary-100;
  background-image: linear-gradient(
    to bottom,
    $primary-200 $spacing*75,
    #fff $spacing*35,
  );
    margin-bottom: $spacing*10;
  .container-fluid {
    position: relative;
    .container {
      padding-top: $spacing * 13;
      display: flex;
      gap: $spacing * 2;

      .content {
        display: flex;
        flex-direction: column;
        gap: $spacing * 3;
        h1 {
          @extend .font-title;
          color: $title-light-color;
          letter-spacing: 0.012em;

          @include separator($title-light-color);
        }

        p {
          @extend .font-text;
          letter-spacing: 0.011em;
          color: $body-light-color;
        }

        .btn-secondary {
        @extend .font-text;
          width: $spacing * 20;
          height: $spacing * 5;
        }
        #image-intro-right-mobile,#image-intro-left-mobile{
          display: none;
        }
      }

    }

    #intro-pattern-right {
      position: absolute;
      top: -80px;
      right: 0;
    }

    #intro-pattern-left{
      position: absolute;
      top: 430px;
      left: 0;
    }
  }

  @include device(tablet){
    overflow: hidden;
    height: auto;
    background: $primary-200;
    .container-fluid{
      .container{
        flex-direction: column-reverse;
        padding: 0;
        gap: 0;
        .content{
          padding: $spacing*10 $spacing*2;
          position: relative;
          h1::before{
            display: none;
          }
          #image-intro-right-mobile,#image-intro-left-mobile{
            display: block;
            position: absolute;
          }
          #image-intro-right-mobile{
            right: 0;
            bottom: -150px;
          }
          #image-intro-left-mobile{
            left: 0;
            top: 0;
          }
        }
      }

      #intro-pattern-right,#intro-pattern-left{
        display: none;
      }
    }
  }
}
